body {
  margin: 0
}

.logos img {
  width: 100px;
  margin-left: 5px;
  display: none;
}

/*@keyframes fade-in-out {
  0%, 94%, 100% {
    fill-opacity: 1;
  }

  4% {
    fill-opacity: .7;
  }

  8% {
    fill-opacity: .5;
  }

  50% {
    fill-opacity: .2;
  }

  54% {
    fill-opacity: 0;
  }
}*/

/*@keyframes fade-out {
  from {
    fill-opacity: 1;
  }

  to {
    fill-opacity: 0;
  }
}*/

@keyframes wee-oo {
  0% {
    transform: scale(1);
  }

  17% {
    transform:  translateX(500%) scale(1.4);
  }

  37% {
    transform: translateX(70%) scale(2.5);
  }

  57% {
    transform: scale(3.9);
  }

  100% {
    transform: scale(1);
  }
}

/*.fade-i-o {
  animation: fade-in-out 1s infinite;
}

.fade-o {
  animation-name: fade-out;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

*/ .oo {
  transform-origin: center;
  animation: wee-oo 10s infinite;
}
